<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608307830800-4r3bf6t0kqhcg2gksek4t0l24421ere7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608307830800-4r3bf6t0kqhcg2gksek4t0l24421ere7</string>
	<key>API_KEY</key>
	<string>AIzaSyBihl9w-mChBakeiNFSb2DYO6QLvED6Lvk</string>
	<key>GCM_SENDER_ID</key>
	<string>608307830800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grocery2go.app</string>
	<key>PROJECT_ID</key>
	<string>grocery2-app</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery2-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608307830800:ios:ec895533d8d8b7504d6a95</string>
</dict>
</plist>